.header {
  background-color: #f7f8fa;
  height: 100px;
  position: relative;
  z-index: 999;
  border-bottom: 2px solid #e6e6e7;
  width: 100%;
  padding: 10px;

  p {
    &:first-child {
      font-weight: bold;
    }
  }
}
