.content {
  text-align: center;

  .template{
    text-align: left;
    margin: 20px;
    width: max-content;
    &:after{
      content: "***************";
      letter-spacing: 1px;
     }
    &:before{
      content: "***************";
      letter-spacing: 1px;
     }
     .element {
       position: relative;

       &:after{
         content: "*";
         position: absolute;
         right: 0;
        }
       &:before{
         content: "* ";
        }
     }
  }
}
